n8n-workflows/follow-up-parent.json
{
  "name": "GTA - Follow-Up Email to Parent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "b2000001-0001-0001-0001-000000000001",
      "name": "Every 6 Hours"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1--Gq3e7v6eS5b6XvJOEJssEIhGBKqx1C2GLRCBPy9tA",
          "mode": "list",
          "cachedResultName": "Goal training academy CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1--Gq3e7v6eS5b6XvJOEJssEIhGBKqx1C2GLRCBPy9tA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1--Gq3e7v6eS5b6XvJOEJssEIhGBKqx1C2GLRCBPy9tA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "new"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [220, 0],
      "id": "b2000001-0001-0001-0001-000000000002",
      "name": "Get New Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A3F0sH3etm2X2OGx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Quiet hours: no emails between 9 PM and 8 AM Eastern\nconst nowUTC = new Date();\nconst easternOffset = -4; // EDT (Eastern Daylight Time - March is DST)\nconst easternHour = (nowUTC.getUTCHours() + easternOffset + 24) % 24;\nif (easternHour >= 21 || easternHour < 8) {\n  return []; // Quiet hours - stop execution\n}\n\n// Filter: melvin_contacted=FALSE, follow_up_sent=FALSE, older than 12 hours\nconst twelveHoursAgo = new Date(nowUTC.getTime() - 12 * 60 * 60 * 1000);\nconst leads = $input.all();\nconst needsFollowUp = leads.filter(item => {\n  const d = item.json;\n  const ts = new Date(d.timestamp);\n  return (\n    String(d.melvin_contacted).toUpperCase() === 'FALSE' &&\n    String(d.follow_up_sent).toUpperCase() === 'FALSE' &&\n    ts < twelveHoursAgo\n  );\n});\n\nif (needsFollowUp.length === 0) {\n  return [];\n}\n\nreturn needsFollowUp;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "b2000001-0001-0001-0001-000000000003",
      "name": "Filter 12hr+ Uncontacted"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Still interested in training for your {{ $json.player_age }} year old? ⚽",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;background:#ffffff;\">\n  <div style=\"text-align:center;padding:20px 0;border-bottom:3px solid #c4a24e;\">\n    <h1 style=\"color:#1a1a2e;margin:0;font-size:24px;\">GOAL Training Academy</h1>\n    <p style=\"color:#c4a24e;margin:5px 0 0;font-size:14px;\">Elevate Your Game</p>\n  </div>\n  <div style=\"padding:20px 0;\">\n    <p style=\"color:#333;font-size:16px;\">Hi {{ $json.name }},</p>\n    <p style=\"color:#333;font-size:16px;\">We wanted to follow up on your inquiry about our <strong>{{ $json.program }}</strong> program. Coach Melvin has been on the field training athletes, but your request is important to us!</p>\n    <p style=\"color:#333;font-size:16px;\">Coach Melvin will personally reach out to you <strong>very soon</strong> to discuss:</p>\n    <ul style=\"color:#333;font-size:16px;\">\n      <li>Training schedule options</li>\n      <li>What to expect in the first session</li>\n      <li>Any questions you may have</li>\n    </ul>\n    <p style=\"color:#333;font-size:16px;\">In the meantime, check out what our athletes are working on:</p>\n    <p style=\"text-align:center;\">\n      <a href=\"https://www.instagram.com/g.o.a.ltrainingacademy\" style=\"display:inline-block;background:#c4a24e;color:#ffffff;padding:12px 30px;text-decoration:none;border-radius:5px;font-weight:bold;\">See Training Highlights</a>\n    </p>\n    <p style=\"color:#333;font-size:16px;\">If you'd like to get started right away, simply reply to this email or call us!</p>\n  </div>\n  <div style=\"border-top:1px solid #eee;padding:15px 0;text-align:center;\">\n    <p style=\"color:#999;font-size:12px;margin:0;\">Goal Training Academy | Lakeland, FL</p>\n    <p style=\"color:#999;font-size:12px;margin:5px 0 0;\">Youth Soccer Training for Ages 7-18</p>\n  </div>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [660, 0],
      "id": "b2000001-0001-0001-0001-000000000004",
      "name": "Send Follow-Up to Parent",
      "credentials": {
        "gmailOAuth2": {
          "id": "XS8Q2aQ4SjfMqQEr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1--Gq3e7v6eS5b6XvJOEJssEIhGBKqx1C2GLRCBPy9tA",
          "mode": "list",
          "cachedResultName": "Goal training academy CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1--Gq3e7v6eS5b6XvJOEJssEIhGBKqx1C2GLRCBPy9tA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1--Gq3e7v6eS5b6XvJOEJssEIhGBKqx1C2GLRCBPy9tA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "follow_up_sent": "TRUE"
          },
          "matchingColumns": ["lead_id"],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_sent",
              "displayName": "follow_up_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [880, 0],
      "id": "b2000001-0001-0001-0001-000000000005",
      "name": "Mark Follow-Up Sent",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A3F0sH3etm2X2OGx",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Get New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Leads": {
      "main": [
        [
          {
            "node": "Filter 12hr+ Uncontacted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 12hr+ Uncontacted": {
      "main": [
        [
          {
            "node": "Send Follow-Up to Parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-Up to Parent": {
      "main": [
        [
          {
            "node": "Mark Follow-Up Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "id": "jur5DT1BXBNa0nTS",
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}