n8n-workflows/lead-capture.json
{
  "name": "GTA - Website Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "goal-training-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8a2aed41-afcd-4ec1-9344-506831376bb2",
      "name": "Webhook",
      "webhookId": "9d80a8df-6b22-402b-b05a-1a2fc99181bf"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        992,
        -144
      ],
      "id": "ec698ced-5a19-4ca0-98cc-272f5faeacda",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "Thanks for reaching out to Goal Training Academy! ⚽️",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;background:#ffffff;\"><div style=\"text-align:center;padding:20px 0;border-bottom:3px solid #c4a24e;\"><h1 style=\"color:#1a1a2e;margin:0;font-size:24px;\">GOAL Training Academy</h1><p style=\"color:#c4a24e;margin:5px 0 0;font-size:14px;\">Elevate Your Game</p></div><div style=\"padding:20px 0;\"><p style=\"color:#333;font-size:16px;\">Hi {{  $('Webhook').item.json.body.name }},</p><p style=\"color:#333;font-size:16px;\">Thank you for reaching out to Goal Training Academy! We received your inquiry about our <strong>{{  $('Webhook').item.json.body.program }}</strong> program.</p><p style=\"color:#333;font-size:16px;\">Coach Melvin will personally review your request and get back to you within <strong>24 hours</strong>.</p><p style=\"color:#333;font-size:16px;\">In the meantime, check out training highlights on our Instagram:</p><p style=\"text-align:center;\"><a href=\"https://www.instagram.com/g.o.a.ltrainingacademy\" style=\"display:inline-block;background:#c4a24e;color:#ffffff;padding:12px 30px;text-decoration:none;border-radius:5px;font-weight:bold;\">Follow Us on Instagram</a></p></div><div style=\"border-top:1px solid #eee;padding:15px 0;text-align:center;\"><p style=\"color:#999;font-size:12px;margin:0;\">Goal Training Academy | Lakeland, FL</p><p style=\"color:#999;font-size:12px;margin:5px 0 0;\">Youth Soccer Training for Ages 7-18</p></div></div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        -144
      ],
      "id": "ec815fd3-beed-4a9c-bc5d-0908ab439d9e",
      "name": "Auto-Reply to Parent",
      "webhookId": "101123d0-031a-4681-a097-9ecd4d64cc9a",
      "credentials": {
        "gmailOAuth2": {
          "id": "XS8Q2aQ4SjfMqQEr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "melvinboateng@yahoo.com",
        "subject": "=New Lead! {{ $('Webhook').item.json.body.name }} - {{ $('Webhook').item.json.body.program }}",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;padding:20px;\"><h2 style=\"color:#c4a24e;border-bottom:2px solid #c4a24e;padding-bottom:10px;\">New Website Lead!</h2><table style=\"width:100%;border-collapse:collapse;\"><tr><td style=\"padding:8px;font-weight:bold;color:#666;\">Name:</td><td style=\"padding:8px;\">{{ $('Webhook').item.json.body.name }}</td></tr><tr><td style=\"padding:8px;font-weight:bold;color:#666;\">Email:</td><td style=\"padding:8px;\">{{ $('Webhook').item.json.body.email }}</td></tr><tr><td style=\"padding:8px;font-weight:bold;color:#666;\">Phone:</td><td style=\"padding:8px;\">{{ $('Webhook').item.json.body.phone }}</td></tr><tr><td style=\"padding:8px;font-weight:bold;color:#666;\">Program:</td><td style=\"padding:8px;\">{{ $('Webhook').item.json.body.program }}</td></tr><tr><td style=\"padding:8px;font-weight:bold;color:#666;\">Player Age:</td><td style=\"padding:8px;\">{{ $('Webhook').item.json.body.player_age }}</td></tr><tr><td style=\"padding:8px;font-weight:bold;color:#666;\">Message:</td><td style=\"padding:8px;\">{{ $('Webhook').item.json.body.message }}</td></tr></table><p style=\"margin-top:20px;padding:15px;background:#f0f7ff;border-left:4px solid #c4a24e;color:#333;\">Reply to this parent within 24 hours. Their auto-reply has already been sent.</p></div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        -144
      ],
      "id": "095c8b12-1585-4775-8309-e21628880501",
      "name": "Notify Coach Melvin",
      "webhookId": "7ea879b5-f1ad-4e4d-aabf-feeacf807a48",
      "credentials": {
        "gmailOAuth2": {
          "id": "XS8Q2aQ4SjfMqQEr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1--Gq3e7v6eS5b6XvJOEJssEIhGBKqx1C2GLRCBPy9tA",
          "mode": "list",
          "cachedResultName": "Goal training academy CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1--Gq3e7v6eS5b6XvJOEJssEIhGBKqx1C2GLRCBPy9tA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1--Gq3e7v6eS5b6XvJOEJssEIhGBKqx1C2GLRCBPy9tA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "=GTA-{{ $now.format('yyyyMMddHHmmss') }}",
            "timestamp": "={{ $now.toISO() }}",
            "source": "website",
            "name": "={{ $json.body.name }}",
            "email": "={{ $json.body.email }}",
            "phone": "={{ $json.body.phone }}",
            "program": "={{ $json.body.program }}",
            "player_age": "={{ $json.body.player_age }}",
            "message": "={{ $json.body.message }}",
            "status": "new",
            "melvin_contacted": "FALSE",
            "follow_up_sent": "FALSE",
            "session_complete": "FALSE",
            "review_requested": "FALSE"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "program",
              "displayName": "program",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "player_age",
              "displayName": "player_age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "melvin_contacted",
              "displayName": "melvin_contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_sent",
              "displayName": "follow_up_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "session_complete",
              "displayName": "session_complete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "review_requested",
              "displayName": "review_requested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -96
      ],
      "id": "ed562e6b-94ad-44a1-bf0c-0fcfc9fb406e",
      "name": "Save Lead to CRM",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A3F0sH3etm2X2OGx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "83e9696b-6e8e-4e63-93a5-ca0de23aa192",
              "leftValue": "={{ $json.body.honeypot }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "550614e0-339c-4ef0-802a-1c88e69a4ce2",
      "name": "IF Spam Filter"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "jenyakruglova.app.n8n.cloud",
            "user-agent": "curl/8.7.1",
            "content-length": "317",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "47.199.221.188",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9d6553f5dfcd803f-MIA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "47.199.221.188, 172.70.83.17",
            "x-forwarded-host": "jenyakruglova.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-98-7dc85bfb85-jqmpg",
            "x-is-trusted": "yes",
            "x-real-ip": "47.199.221.188"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "Sarah Johnson",
            "email": "evgeniia.kruglova@gmail.com",
            "phone": "(863) 555-1234",
            "program": "1-on-1",
            "player_age": "10-13",
            "message": "My son wants to improve his dribbling skills.",
            "honeypot": "",
            "submitted_at": "2026-03-02T22:00:00.000Z",
            "source": "website"
          },
          "webhookUrl": "https://jenyakruglova.app.n8n.cloud/webhook/goal-training-form",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Spam Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Reply to Parent": {
      "main": [
        [
          {
            "node": "Notify Coach Melvin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Coach Melvin": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to CRM": {
      "main": [
        [
          {
            "node": "Auto-Reply to Parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Spam Filter": {
      "main": [
        [
          {
            "node": "Save Lead to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ec467d6e-3014-4dd0-a43e-516659455b28",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8b0048748660b1d10588a756603654e1e648f40a24a208fd5a89cfe4e406e2a"
  },
  "id": "hkr0FuBGAWpjyPdd",
  "tags": []
}