n8n-workflows/remind-melvin.json
{
  "name": "GTA - Remind Melvin",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "a1000001-0001-0001-0001-000000000001",
      "name": "Every Hour"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1--Gq3e7v6eS5b6XvJOEJssEIhGBKqx1C2GLRCBPy9tA",
          "mode": "list",
          "cachedResultName": "Goal training academy CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1--Gq3e7v6eS5b6XvJOEJssEIhGBKqx1C2GLRCBPy9tA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1--Gq3e7v6eS5b6XvJOEJssEIhGBKqx1C2GLRCBPy9tA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "new"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [220, 0],
      "id": "a1000001-0001-0001-0001-000000000002",
      "name": "Get New Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A3F0sH3etm2X2OGx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Quiet hours: no emails 9PM-8AM Eastern\nconst nowUTC = new Date();\nconst easternOffset = -4;\nconst easternHour = (nowUTC.getUTCHours() + easternOffset + 24) % 24;\nif (easternHour >= 22 || easternHour < 7) { return []; }\n\nconst sixHoursAgo = new Date(nowUTC.getTime() - 6 * 60 * 60 * 1000);\nconst leads = $input.all();\nconst overdueLeads = leads.filter(item => {\n  const d = item.json;\n  const contacted = String(d.melvin_contacted).toUpperCase().trim();\n  const ts = new Date(d.timestamp);\n  return contacted !== \"TRUE\" && ts < sixHoursAgo;\n});\n\nif (overdueLeads.length === 0) { return []; }\n\nlet rows = \"\";\nfor (const lead of overdueLeads) {\n  const d = lead.json;\n  const h = Math.round((nowUTC - new Date(d.timestamp)) / 3600000);\n  rows += \"<tr><td style=\\\"padding:8px;border:1px solid #ddd\\\">\" + d.name + \"</td><td style=\\\"padding:8px;border:1px solid #ddd\\\">\" + d.program + \"</td><td style=\\\"padding:8px;border:1px solid #ddd\\\">\" + d.player_age + \"</td><td style=\\\"padding:8px;border:1px solid #ddd\\\"><a href=\\\"mailto:\" + d.email + \"\\\">\" + d.email + \"</a></td><td style=\\\"padding:8px;border:1px solid #ddd\\\">\" + d.phone + \"</td><td style=\\\"padding:8px;border:1px solid #ddd;font-weight:bold;color:#e74c3c\\\">\" + h + \"h ago</td></tr>\";\n}\nconst n = overdueLeads.length;\nconst emailSubject = \"\\u26a0\\ufe0f \" + n + \" Uncontacted Lead\" + (n>1?\"s\":\"\") + \" \\u2014 Action Needed\";\nconst emailBody = \"<div style=\\\"font-family:Arial,sans-serif;max-width:700px;padding:20px\\\"><h2 style=\\\"color:#e74c3c;border-bottom:2px solid #c4a24e;padding-bottom:10px\\\">\\u26a0\\ufe0f \" + n + \" Lead\" + (n>1?\"s\":\"\") + \" Waiting</h2><p>The following lead\" + (n>1?\"s have\":\" has\") + \" been waiting 6+ hours:</p><table style=\\\"width:100%;border-collapse:collapse;margin:15px 0\\\"><tr style=\\\"background:#1a1a2e;color:#fff\\\"><th style=\\\"padding:10px;text-align:left\\\">Name</th><th style=\\\"padding:10px;text-align:left\\\">Program</th><th style=\\\"padding:10px;text-align:left\\\">Age</th><th style=\\\"padding:10px;text-align:left\\\">Email</th><th style=\\\"padding:10px;text-align:left\\\">Phone</th><th style=\\\"padding:10px;text-align:left\\\">Waiting</th></tr>\" + rows + \"</table><p style=\\\"margin-top:20px;padding:15px;background:#fff3cd;border-left:4px solid #e74c3c\\\">Please reach out ASAP!</p><p style=\\\"color:#999;font-size:12px;margin-top:20px\\\">Change <strong>melvin_contacted</strong> to TRUE in the Sheet to stop reminders.</p></div>\";\nreturn [{ json: { emailBody, emailSubject } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "a1000001-0001-0001-0001-000000000004",
      "name": "Filter + Build Summary"
    },
    {
      "parameters": {
        "sendTo": "melvinboateng@yahoo.com",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [660, 0],
      "id": "a1000001-0001-0001-0001-000000000005",
      "name": "Email Melvin Reminder",
      "credentials": {
        "gmailOAuth2": {
          "id": "XS8Q2aQ4SjfMqQEr",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Get New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Leads": {
      "main": [
        [
          {
            "node": "Filter + Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter + Build Summary": {
      "main": [
        [
          {
            "node": "Email Melvin Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "igjHJtCfpFcPJiD6",
  "tags": []
}